.element__like {
    margin-right: 20px;
    height: 19px;
    width: 22px;
    cursor: pointer;
    background-image: url("../../../images/like.svg");
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    background-image: url("../../../images/like-active.svg");
}
