.profile__edit {
    display: flex;
    width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
    padding: 0;
    background-color: transparent;
    border: 1px solid white;
    justify-self: end;
}

.profile__edit:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 780px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        position: absolute;
        margin: 0;
        top: 20px;
        right: -40px;
    }
}

@media screen and (max-width: 410px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        position: absolute;
        margin: 0;
        top: 17px;
        right: -20px;
    }
}