.profile__info {
    display: grid;
    max-width: 336px;
    grid-template-columns: 294px 1fr;
    gap: 8px 0;
    position: relative;
}

@media screen and (max-width: 780px) {
    .profile__info {
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 336px;
    }
}

@media screen and (max-width: 410px) {
    .profile__info {
        justify-items: center;
        display: block;
        gap: 8px 0;
    }
}